.gallery-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0.5rem 0 0;
    padding-left: 1rem;
}

.gallery-element {
    list-style-type: none;
    height: 45vh;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 1rem;
    cursor: pointer;
}

.gallery-image {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.gallery-image-bottom {
    object-position: bottom;
}

.gallery-image-top {
    object-position: top;
}

.gallery-container-focused {
    flex-wrap: nowrap;
}

.focused-element {
    height: 80vh;
}

#gallery-buttons {
    display: none;
}

#gallery-buttons.active {
    display: flex;
    justify-content: space-around;
}

#gallery-buttons button {
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: darkgrey;
    cursor: pointer;
    border-radius: 1rem;
}

@media only screen and (max-width: 1200px) {
    .gallery-container-focused {
        flex-direction: column;
        height: 75vh;
        justify-content: center;
    }

    .gallery-container-focused .gallery-element {
        display: none;
    }

    .gallery-container-focused .focused-element {
        display: revert;
    }

    .gallery-element {
        height: auto;
    }

    .focused-element {
        height: 75vh;
        max-height: fit-content;
    }

    .gallery-image {
        max-width: 100%;
        vertical-align: center;
    }

    #gallery-buttons {
        margin-top: 1.5rem;
    }
}
